/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop

*/
/*
$breakpoint argument choices:
--phone
--tab-port
--tab-land
--big-desktop
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
* html {
  font-size: 62.5%;
}
* body {
  box-sizing: border-box;
}
* h1 {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
* h2 {
  letter-spacing: 3%;
  font-size: 18px;
  line-height: 39px;
  letter-spacing: -0.04em;
}
* h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 2px solid #FFD400;
  padding: 4px 2px;
  margin: 0 0 15px 0;
  width: 20%;
}
* p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 1.65;
  color: #4F4F4F;
  letter-spacing: 0.02em;
}
* li {
  list-style-type: none;
}
* a {
  font-size: 16px;
  text-decoration: none;
  color: #020201;
}
* input {
  border-radius: 100px;
  background-color: #f5f4f4;
  border: none;
  padding: 0 0 0 30px;
  outline: none;
}

textarea {
  resize: none;
  border-radius: 50px;
  padding-left: 1.6rem;
  padding-top: 1rem;
  border: none;
  background-color: #f5f4f4;
}

svg {
  cursor: pointer;
}

circle {
  fill: black;
}

.releaseSlider {
  min-height: 20vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.releaseSlider .sliderContainer {
  min-height: 5vh;
  height: 285.79px;
  width: 90%;
  border-radius: 142.893px 0px 0px 142.893px;
  background: linear-gradient(83.93deg, rgba(255, 212, 0, 0.3) 1.75%, rgba(255, 212, 0, 0.0433364) 106.46%, rgba(255, 212, 0, 0) 106.47%);
  backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
}

.sliderContainer .slider {
  height: 20vh;
  display: flex;
  overflow: hidden;
}

.sliderContainer .slider .--item {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(110px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100px;
  border-radius: 100px;
  min-width: 443px;
  display: flex;
  margin: 0 2rem;
}

.sliderContainer .slider .--item .--item-container {
  width: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderContainer .slider .--item .--item-container .musicCover {
  margin-right: 0.5rem;
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  width: 25%;
  height: 6rem;
}
.sliderContainer .slider .--item .--item-container .--item-information {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 5rem;
}
.sliderContainer .slider .--item .--item-container .--item-information .--artistename,
.sliderContainer .slider .--item .--item-container .--item-information .--songTitle {
  width: 100%;
  display: flex;
}
.sliderContainer .slider .--item .--item-container .--item-information .--artistename .--artisteImg,
.sliderContainer .slider .--item .--item-container .--item-information .--songTitle .--artisteImg {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.sliderContainer .slider .--item .--item-container .--item-information .--artistename .artisteInfo,
.sliderContainer .slider .--item .--item-container .--item-information .--songTitle .artisteInfo {
  width: 80%;
}
.sliderContainer .slider .--item .--item-container .--item-information .--musicPromolinks {
  width: 90%;
  min-height: 2.5rem;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(219px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sliderContainer .slider .--item .--item-container .--item-information .--musicPromolinks a {
  transition: all 0.3s ease 0s;
}
.sliderContainer .slider .--item .--item-container .--item-information .--musicPromolinks a:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease 0s;
}

.arrows {
  width: 89%;
  margin-left: 11%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 10rem;
}

i {
  font-size: 3rem !important;
  cursor: pointer;
}

i:hover {
  color: #1c1a1a;
}

section:nth-child(1) {
  max-width: 100%;
  height: 129px;
  box-shadow: 0px 4px 60px rgba(190, 190, 190, 0.15);
  position: sticky;
  top: 0;
  z-index: 5;
  background: white;
}
section:nth-child(1) .container {
  width: 90%;
  margin: 0 5%;
  height: 129px;
  display: flex;
  flex-direction: row;
}
section:nth-child(1) .container .logo {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) .container ul:nth-child(2) {
  width: 16%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section:nth-child(1) .container ul:nth-child(2) li a {
  transition: all 100ms linear;
  font-weight: 500;
}
section:nth-child(1) .container ul:nth-child(2) li a:hover {
  padding-bottom: 0.25rem;
  border-bottom: 1.8px solid #FFD400;
  animation-name: --anime-hover;
}
section:nth-child(1) .container .searchBox {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section:nth-child(1) .container .searchBox .--searchBoxBtn {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f4f4;
  border-radius: 100px;
}
section:nth-child(1) .container .searchBox .--searchBoxBtn input {
  height: 43px;
  width: 60%;
}
section:nth-child(1) .container .searchBox .--searchBoxBtn .searchBtn {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFD400;
  border-radius: 0px 100px 100px 165px;
}
section:nth-child(1) .container ul:nth-child(4) {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) .container ul:nth-child(4) li .login {
  margin-top: 3rem;
  padding: 10px 43px;
  border-radius: 100px;
  border: 2px solid #FFD400;
  transition: all 100ms linear;
  font-weight: 500;
  color: #333;
}
section:nth-child(1) .container ul:nth-child(4) .login:hover {
  background-color: #FFD400;
}
section:nth-child(1) .container ul:nth-child(4) .shoppingCart img {
  border-radius: 200px;
  align-self: center;
  padding: 0.4rem;
  margin-left: 13px;
  background-color: #FFD400;
}

.footer {
  min-height: 5rem;
}

.footerContainer {
  display: flex;
  justify-content: center;
  min-height: 33vh;
}
.footerContainer div {
  width: 27%;
}
.footerContainer div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footerContainer div:nth-child(1) .imgContainer {
  width: 50%;
  display: flex;
  justify-content: center !important;
  margin-left: 8rem;
}
.footerContainer div:nth-child(1) .GYD {
  letter-spacing: -0.04em;
  font-weight: 900 !important;
}
.footerContainer div:nth-child(1) h1 {
  font-weight: 700;
}
.footerContainer div:nth-child(1) .iconLocation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0.7rem;
}
.footerContainer div:nth-child(1) .iconLocation h1 {
  font-size: 16px;
  font-weight: 1000;
}
.footerContainer div:nth-child(1) .iconLocation .loc {
  width: 4%;
}

.footer .footerContainer .contactUs {
  display: flex;
  flex-direction: column;
}
.footer .footerContainer .contactUs h1 {
  border-bottom: 2px solid #FFD400;
  width: 40%;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}
.footer .footerContainer .contactUs form {
  display: flex;
  flex-direction: column;
}
.footer .footerContainer .contactUs form input {
  outline: none;
}
.footer .footerContainer .contactUs form input:nth-child(1) {
  height: 47.1px;
  margin-bottom: 1rem;
}
.footer .footerContainer .contactUs form textarea {
  height: 85.71px;
  outline: none;
}
.footer .footerContainer .contactUs form .socialsBtn {
  width: 100%;
  min-height: 4rem;
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footerContainer .contactUs form .socialsBtn .icons {
  display: flex;
  flex-direction: row;
  min-height: 5vh;
}
.footer .footerContainer .contactUs form .socialsBtn .icons svg {
  padding-right: 0.4rem;
  width: 40rem !important;
}
.footer .footerContainer .contactUs form .socialsBtn .icons circle:hover {
  fill: #FFD400;
  cursor: pointer;
}
.footer .footerContainer .contactUs form .socialsBtn a {
  padding: 0.7rem 3rem;
  background: black;
  color: white;
  border-radius: 50px;
}
.footer .footerContainer .contactUs form .socialsBtn a:hover {
  background: #FFD400;
  color: black;
  transition: all 1ms ease-in;
}

.copyright {
  height: 5vh;
  background-color: black;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright p {
  color: #FFD400;
  font-weight: 700;
}

.banner {
  width: 100%;
  height: 70vh;
  background: url("/ASSETS/banner/homepageBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .container {
  margin: 0 0 0 34rem;
  width: 100vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .container p:nth-child(1) {
  font-size: 28px;
  padding-bottom: 10px;
  color: #959595;
}
.banner .container h2 {
  color: white;
  font-size: 52px;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 3%;
  padding-bottom: 5px;
}
.banner .container h2 span {
  font-family: "Alfa Slab One", cursive;
  color: #FFD400;
  font-size: 52px;
}
.banner .container p:nth-child(3) {
  color: white;
  text-align: center;
  padding: 0 0 10px 0;
}
.banner .container a {
  color: white;
  text-align: center;
  border: 3px solid #FFD400;
  margin-top: 10px;
  padding: 15px 43px;
  border-radius: 100px;
  transition: all 100ms linear;
  font-weight: 500;
}
.banner .container a:hover {
  color: black;
  background-color: #FFD400;
  transition: 5ms ease-in;
}

.aboutUs {
  width: 100%;
  height: 500px;
  margin-top: 100px;
}
.aboutUs .container {
  width: 80%;
  margin: 0 10%;
  height: 500px;
  display: flex;
}
.aboutUs .container .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutUs .container .content .aboutUs--text {
  padding: 0.5rem 0rem;
}
.aboutUs .container .content .aboutUs--text p {
  text-align: justify;
}
.aboutUs .container .images {
  width: 40%;
  display: flex;
}
.aboutUs .container .images img:nth-child(1) {
  width: 259px;
  position: relative;
  left: 60px;
  z-index: 1;
  border-radius: 50px;
}
.aboutUs .container img:nth-child(2) {
  width: 200px;
  border-radius: 50px;
  margin: 6rem 0 6rem 0;
}

section:nth-child(3) {
  width: 100%;
  height: 500px;
  margin-top: 100px;
}
section:nth-child(3) .container {
  width: 80%;
  margin: 0 10%;
  height: 500px;
  display: flex;
}
section:nth-child(3) .container .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section:nth-child(3) .container .content p {
  text-align: justify;
}
section:nth-child(3) .container .images {
  width: 50%;
  display: flex;
}
section:nth-child(3) .container .images img:nth-child(1) {
  width: 259px;
  position: relative;
  left: 60px;
  z-index: 1;
  border-radius: 50px;
}
section:nth-child(3) .container img:nth-child(2) {
  width: 200px;
  border-radius: 50px;
  margin: 6rem 0 6rem 0;
}

section:nth-child(4) {
  width: 100%;
  height: 700px;
  margin-top: 120px;
  display: grid;
  place-content: center;
}
section:nth-child(4) .content {
  margin-bottom: 5%;
  margin-left: 30%;
}

.servicesGrid {
  height: 450px;
  width: 883px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.servicesGrid div {
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-rows: 28% 72%;
}
.servicesGrid div img {
  width: 4rem;
  grid-column: 1/2;
  grid-row: 1/2;
}
.servicesGrid div h3 {
  width: 80%;
  font-size: 18px;
  font-weight: 700;
  margin: 0 10%;
  height: 4rem;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-items: center;
  border-bottom: none;
}
.servicesGrid div .forHr {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicesGrid div .forHr hr {
  width: 0.1rem;
  height: 40%;
  margin-bottom: 2rem;
  color: #c4c4c4;
  border: 1px solid lightgray;
}
.servicesGrid div p {
  grid-column: 1/3;
  padding: 10px 10px;
  text-align: justify;
}
.servicesGrid .item-2 img {
  width: 125%;
  height: 4rem;
}
.servicesGrid .item-3 img,
.servicesGrid .item-5 img {
  width: 80%;
  height: 4rem;
}
.servicesGrid .item-3 img {
  width: 80%;
  height: 4rem;
}
.servicesGrid .item-6 img {
  width: 100%;
  height: 4rem;
}

.ourProducers {
  min-height: 20vh;
  margin-bottom: 5rem;
}
.ourProducers h1 {
  margin-left: 25%;
}
.ourProducers .producers {
  min-height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourProducers .producers .one {
  width: 25%;
  height: 35rem;
  border-radius: 50px;
  margin-right: 2rem;
  background-image: url("/ASSETS/ourProducers/producerone.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.ourProducers .producers .one .details {
  height: 10vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(100px);
  border-radius: 0px 100px 50px 50px;
}
.ourProducers .producers .two {
  width: 25%;
  height: 35rem;
  border-radius: 50px;
  background-image: url("/ASSETS/ourProducers/producertwo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.ourProducers .producers .two .details {
  height: 10vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(100px);
  border-radius: 0px 100px 50px 50px;
}

.loginContainer {
  height: 86.6vh;
  display: flex;
}
.loginContainer .loginLeft {
  width: 35%;
  background-image: url("/ASSETS/loginpage/leftImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginContainer .loginRight {
  width: 65%;
}

.loginRight .rLoginContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5% 20%;
}
.loginRight .rLoginContainer .login--heading .head {
  height: 5rem;
  display: flex;
  align-items: center;
}
.loginRight .rLoginContainer .login--heading .head h1 {
  border-bottom: 2px solid #FFD400;
  width: 15%;
  display: flex;
  justify-content: center;
}
.loginRight .rLoginContainer .login--heading .head .hd--left {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
.loginRight .rLoginContainer .login--heading .head .hd--left p a {
  font-weight: 700;
}
.loginRight .rLoginContainer .login--heading form {
  min-height: 30rem;
}
.loginRight .rLoginContainer .login--heading form div {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 0.6rem;
}
.loginRight .rLoginContainer .login--heading form div label {
  margin-bottom: 0.4rem;
  padding: 0rem 1.5rem;
  font-weight: 600 !important;
  font-size: 16px;
}
.loginRight .rLoginContainer .login--heading form div .input--icon {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  min-height: 43px !important;
  background: #f5f4f4 !important;
  border-radius: 100px !important;
}
.loginRight .rLoginContainer .login--heading form div input {
  height: 43px;
  padding-right: 1rem !important;
  width: 93% !important;
}
.loginRight .rLoginContainer .login--heading form .login--btns a {
  display: flex;
  justify-content: center;
  height: 43px;
  align-items: center;
  margin-bottom: 0.4rem;
  border-radius: 100px;
  background-color: #FFD400;
  color: black;
}
.loginRight .rLoginContainer .login--heading form .login--btns .or {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.loginRight .rLoginContainer .login--heading form .login--btns .or hr {
  border: 1px solid #FFD400 !important;
  width: 12rem;
  height: 0.1rem;
  margin: 0 1rem;
}
.loginRight .rLoginContainer .login--heading form .log--google {
  width: 100%;
}
.loginRight .rLoginContainer .login--heading form .log--google a {
  border: 1px solid #FFD400;
  background: white;
  font-family: 13px !important;
}
.loginRight .rLoginContainer .login--heading form .log--google a img {
  width: 1.2rem;
  margin: 0rem 0.8rem;
}
.loginRight .rLoginContainer .login--heading form .log--facebook {
  width: 100%;
}
.loginRight .rLoginContainer .login--heading form .log--facebook a {
  background: #3b5998;
  color: white;
  font-family: 13px;
}
.loginRight .rLoginContainer .login--heading form .log--facebook a img {
  width: 0.5rem;
  margin: 0rem 0.8rem;
}

/*# sourceMappingURL=main.css.map */
