/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet Landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop


/*
$breakpoint argument choices:
--phone
--tab-port
--tab-land
--big-desktop
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 95%;
}
* body {
  box-sizing: border-box;
  background: white;
}
* h1 {
  font-size: 1.75rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
}
* h2 {
  letter-spacing: 3%;
  font-size: 1.125rem;
  line-height: 2.4375rem;
  letter-spacing: -0.04em;
}
* h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  border-bottom: 0.125rem solid #ffd400;
  padding: 0.25rem 0.125rem;
  margin: 0 0 0.9375rem 0;
  width: 20%;
}
* p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.65;
  color: #4f4f4f;
  letter-spacing: 0.02em;
}
* li {
  list-style-type: none;
}
* a {
  font-size: 1rem;
  text-decoration: none;
  color: #020201;
  transition: all 0.5s ease-in;
}
* input {
  border-radius: 6.25rem;
  background-color: #f5f4f4;
  border: none;
  padding: 0 0 0 1.875rem;
  outline: none;
}

textarea {
  resize: none;
  border-radius: 3.125rem;
  padding-left: 1.6rem;
  padding-top: 1rem;
  border: none;
  background-color: #f5f4f4;
}

svg {
  cursor: pointer;
}

circle {
  fill: black;
}

.releaseSlider {
  min-height: 20vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10rem;
}
.releaseSlider .sliderContainer {
  min-height: 5vh;
  height: 17.86rem;
  width: 90%;
  border-radius: 8.93rem 0 0 8.93rem;
  background: linear-gradient(83.93deg, rgba(255, 212, 0, 0.3) 1.75%, rgba(255, 212, 0, 0.0433364) 106.46%, rgba(255, 212, 0, 0) 106.47%);
  backdrop-filter: blur(6.25rem);
  display: flex;
  align-items: center;
}

.sliderContainer .slider {
  height: 20vh;
  display: flex;
  overflow: hidden;
}

.sliderContainer .slider .--item {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(6.87rem);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 6.25rem;
  min-width: 27.68rem;
  display: flex;
  margin: 0 2rem;
}

.sliderContainer .slider .--item .--item-container {
  width: 100%;
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderContainer .slider .--item .--item-container .musicCover {
  margin-right: 0.5rem;
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  width: 25%;
  height: 6rem;
}
.sliderContainer .slider .--item .--item-container .--item-information {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 5rem;
}
.sliderContainer .slider .--item .--item-container .--item-information .--artistename,
.sliderContainer .slider .--item .--item-container .--item-information .--songTitle {
  width: 100%;
  display: flex;
}
.sliderContainer .slider .--item .--item-container .--item-information .--artistename .--artisteImg,
.sliderContainer .slider .--item .--item-container .--item-information .--songTitle .--artisteImg {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.sliderContainer .slider .--item .--item-container .--item-information .--artistename .artisteInfo,
.sliderContainer .slider .--item .--item-container .--item-information .--songTitle .artisteInfo {
  width: 80%;
}
.sliderContainer .slider .--item .--item-container .--item-information .--musicPromolinks {
  width: 90%;
  min-height: 2.5rem;
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(13.68rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sliderContainer .slider .--item .--item-container .--item-information .--musicPromolinks a {
  transition: all 0.3s ease 0s;
}
.sliderContainer .slider .--item .--item-container .--item-information .--musicPromolinks a:hover {
  transform: translateY(-0.18rem);
  transition: all 0.3s ease 0s;
}

.arrows {
  width: 89%;
  margin-left: 11%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20rem;
}

i {
  font-size: 3rem !important;
  cursor: pointer;
}

i:hover {
  color: #1c1a1a;
}

.--navigationbar-two {
  width: 100%;
  padding: 0 10%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0rem 0.25rem 3.75rem rgba(190, 190, 190, 0.15);
  z-index: 3;
  background: #010101;
}
.--navigationbar-two .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.--navigationbar-two .logo img {
  width: 80%;
}
.--navigationbar-two .navlink__container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.--navigationbar-two .navlink__container .nav_link {
  transition: border 0.01ms ease-out;
  font-weight: 400;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
}
.--navigationbar-two .navlink__container .nav_link--active {
  padding: 0.5rem;
  border-bottom: 0.125rem solid #ffd400;
}
.--navigationbar-two .navlink__container a:hover {
  border-bottom: 0.125rem solid #ffd400;
}

.blackbackground {
  background: #010101;
}

.whitebackground {
  background: white !important;
}

.footer-two {
  width: 100%;
  min-height: 20rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.footer-two .container {
  width: 55%;
  min-height: 5rem;
  display: flex;
}
.footer-two .container .image-location {
  width: 50%;
}
.footer-two .container .image-location .il-container {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-two .container .image-location .il-container img {
  width: 65%;
}
.footer-two .container .image-location .il-companyName {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-two .container .image-location .il-companyName h1 {
  color: black;
  font-weight: 1000;
  text-align: center;
}
.footer-two .container .image-location .company-loc {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-two .container .image-location .company-loc img {
  width: 85%;
}
.footer-two .container .image-location .company-loc .loc-text {
  width: 81%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-two .container .image-location .company-loc .loc-text h3 {
  width: 100%;
  font-weight: 900;
  margin: 0;
  color: black;
}
.footer-two .container .contact--us {
  width: 50%;
}
.footer-two .container .contact--us .contact-us-heading {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}
.footer-two .container .contact--us .contact-us-heading h1 {
  width: 40%;
  border-bottom: 0.125rem solid #ffd400;
}
.footer-two .container .contact--us form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-two .container .contact--us form input {
  width: 100%;
  border-radius: 6.25rem;
  background-color: #f5f4f4;
  border: none;
  padding: 0 0 0 1.875rem;
  outline: none;
  height: 2.93rem;
  font-size: 1rem;
}
.footer-two .container .contact--us form textarea {
  resize: none;
  border-radius: 3.125rem;
  padding-left: 1.6rem;
  padding-top: 1rem;
  border: none;
  background-color: #f5f4f4;
  width: 100%;
  height: 65%;
  outline: none;
  font-size: 1rem;
}
.footer-two .container .contact--us .icons--buttons {
  height: 20%;
  display: flex;
  align-items: center;
}
.footer-two .container .contact--us .icons--buttons .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.footer-two .container .contact--us .icons--buttons .icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem !important;
}
.footer-two .container .contact--us .icons--buttons .icons a .lab {
  font-size: 20px !important;
  padding: 0.4rem;
  color: white;
  border-radius: 100px;
  background: black;
  transition: all 1ms ease-in;
}
.footer-two .container .contact--us .icons--buttons .icons a .lab:hover {
  background-color: #ffd400;
  color: black;
  background: #ffd400;
  transition: all 1ms ease-in;
}
.footer-two .container .contact--us .icons--buttons .button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}
.footer-two .container .contact--us .icons--buttons .button a {
  background: black;
  text-align: center;
  padding: 0.8rem 4rem;
  color: white;
  border-radius: 3.12rem;
}
.footer-two .container .contact--us .icons--buttons .button a:hover {
  background: #ffd400;
  color: black;
  transition: all 1ms ease-in;
}

.copyright {
  height: 5vh;
  background-color: black;
  border-radius: 1.87rem 1.87rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright p {
  color: #ffd400;
  font-weight: 700;
}

.banner {
  width: 100%;
  height: 70vh;
  background: url("/ASSETS/banner/homepageBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .container {
  margin: 0 0 0 34rem;
  width: 100vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .container p:nth-child(1) {
  font-size: 1.75rem;
  padding-bottom: 0.625rem;
  color: #959595;
}
.banner .container h2 {
  color: white;
  font-size: 3.25rem;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 3%;
  padding-bottom: 0.3125rem;
}
.banner .container h2 span {
  font-family: "Alfa Slab One", cursive;
  color: #ffd400;
  font-size: 3.25rem;
}
.banner .container p:nth-child(3) {
  color: white;
  text-align: center;
  padding: 0 0 0.625rem 0;
}
.banner .container a {
  color: white;
  text-align: center;
  border: 0.125rem solid #ffd400;
  margin-top: 0.625rem;
  padding: 0.9375rem 2.6875rem;
  border-radius: 6.25rem;
  transition: all 100ms linear;
  font-weight: 500;
}
.banner .container a:hover {
  color: black;
  background-color: #ffd400;
  transition: 5ms ease-in;
}

.aboutUs {
  width: 100%;
  min-height: 31.25rem;
  margin-top: 6.25rem;
  padding: 7rem 0rem;
  behavior: smooth;
}
.aboutUs .container {
  width: 80%;
  margin: 0 10%;
  height: 31.25rem;
  display: flex;
}
.aboutUs .container .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutUs .container .content .aboutUs--text {
  padding: 0.5rem 0rem;
}
.aboutUs .container .content .aboutUs--text p {
  text-align: justify;
}
.aboutUs .container .images {
  width: 40%;
  display: flex;
}
.aboutUs .container .images img:nth-child(1) {
  width: 16.1875rem;
  position: relative;
  left: 3.75rem;
  z-index: 1;
  border-radius: 3.125rem;
}
.aboutUs .container img:nth-child(2) {
  width: 12.5rem;
  border-radius: 3.125rem;
  margin: 6rem 0 6rem 0;
}

.ourServices {
  width: 100%;
  height: 31.25rem;
  margin-top: 6.25rem;
}
.ourServices .container {
  width: 80%;
  margin: 0 10%;
  height: 31.25rem;
  display: flex;
}
.ourServices .container .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ourServices .container .content p {
  text-align: justify;
}
.ourServices .container .images {
  width: 50%;
  display: flex;
}
.ourServices .container .images img:nth-child(1) {
  width: 16.1875rem;
  position: relative;
  left: 3.75rem;
  z-index: 1;
  border-radius: 3.125rem;
}
.ourServices .container img:nth-child(2) {
  width: 12.5rem;
  border-radius: 3.125rem;
  margin: 6rem 0 6rem 0;
}

section:nth-child(4) {
  width: 100%;
  height: 43.75rem;
  margin-top: 7.5rem;
  display: grid;
  place-content: center;
}
section:nth-child(4) .content {
  width: 100%;
  margin-bottom: 5%;
  margin-left: 2%;
}

.-services-grid {
  width: 55.1875rem;
  height: 28.125rem;
  display: grid;
  grid-template-columns: 17rem 17rem 17rem;
  grid-template-rows: 10rem 10rem;
  grid-gap: 2rem;
  backface-visibility: hidden;
}
.-services-grid .grid-item {
  display: flex;
}
.-services-grid .grid-item .--item-content {
  width: 90%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 40% 60%;
  transition: all 0.3s ease 0s;
  backface-visibility: hidden;
}
.-services-grid .grid-item .--item-content .--content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
.-services-grid .grid-item .--item-content .--content-image img {
  width: 4.5rem;
  backface-visibility: hidden;
}
.-services-grid .grid-item .--item-content .--content-image .ci-img-1 {
  width: 3.5rem;
}
.-services-grid .grid-item .--item-content .--content-image .ci-img-3 {
  width: 2.7rem;
}
.-services-grid .grid-item .--item-content .--content-image .ci-img-4 {
  width: 3.2rem;
}
.-services-grid .grid-item .--item-content .--content-image .ci-img-5 {
  width: 3.5rem;
}
.-services-grid .grid-item .--item-content .--content-image .ci-img-6 {
  width: 3.5rem;
}
.-services-grid .grid-item .--item-content .--content-heading {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.-services-grid .grid-item .--item-content .--content-heading h3 {
  width: 80%;
  border-bottom: none;
  padding: 0;
  margin: 0.4rem 0 0 0;
  backface-visibility: hidden;
}
.-services-grid .grid-item .--item-content .--content-text {
  grid-column: 1/span 3;
  min-height: 1rem;
  padding: 0 0 0 1.6rem;
}
.-services-grid .grid-item .--item-content .--content-text p {
  backface-visibility: hidden;
}
.-services-grid .grid-item .--item-hr {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.-services-grid .grid-item .--item-hr hr {
  width: 0.1rem;
  height: 40%;
  color: #c4c4c4;
  border: 0.0625rem solid lightgray;
}

.--item-content:hover {
  cursor: pointer;
  transform: translateY(-0.9375rem);
  transition: all 0.1s ease 0s;
}
.--item-content:hover .--content-heading {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.--item-content:hover .--content-heading h3 {
  width: 80%;
  border-bottom: none;
  padding: 0;
  margin: 0.4rem 0 0 0;
  backface-visibility: hidden;
}

.ourProducers {
  min-height: 20vh;
  margin-bottom: 5rem;
}
.ourProducers h1 {
  margin-left: 25%;
}
.ourProducers .producers {
  min-height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourProducers .producers .one {
  width: 25%;
  height: 35rem;
  border-radius: 3.125rem;
  margin-right: 2rem;
  background-image: url("/ASSETS/ourProducers/producerone.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.ourProducers .producers .one .details {
  height: 10vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6.25rem);
  border-radius: 0 6.25rem 3.125rem 3.125rem;
}
.ourProducers .producers .two {
  width: 25%;
  height: 35rem;
  border-radius: 3.125rem;
  background-image: url("/ASSETS/ourProducers/producertwo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.ourProducers .producers .two .details {
  height: 10vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(6.25rem);
  border-radius: 0rem 6.25rem 3.125rem 3.125rem;
}

.loginContainer {
  height: 86.6vh;
  display: flex;
}
.loginContainer .loginLeft {
  width: 35%;
  background-image: url("/ASSETS/loginpage/leftImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginContainer .loginRight {
  width: 65%;
}

.loginRight .rLoginContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5% 20%;
}
.loginRight .rLoginContainer .login--heading .head {
  height: 5rem;
  display: flex;
  align-items: center;
}
.loginRight .rLoginContainer .login--heading .head h1 {
  border-bottom: 2px solid #ffd400;
  width: 15%;
  display: flex;
  justify-content: center;
}
.loginRight .rLoginContainer .login--heading .head .hd--left {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
.loginRight .rLoginContainer .login--heading .head .hd--left p a {
  font-weight: 700;
}
.loginRight .rLoginContainer .login--heading form {
  min-height: 30rem;
}
.loginRight .rLoginContainer .login--heading form div {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 0.6rem;
}
.loginRight .rLoginContainer .login--heading form div label {
  margin-bottom: 0.4rem;
  padding: 0rem 1.5rem;
  font-weight: 600 !important;
  font-size: 1rem;
}
.loginRight .rLoginContainer .login--heading form div .input--icon {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  min-height: 2.6875rem !important;
  background: #f5f4f4 !important;
  border-radius: 6.25rem !important;
}
.loginRight .rLoginContainer .login--heading form div input {
  height: 2.6875rem;
  padding-right: 1rem !important;
  width: 93% !important;
}
.loginRight .rLoginContainer .login--heading form .login--btns a {
  display: flex;
  justify-content: center;
  height: 2.6875rem;
  align-items: center;
  margin-bottom: 0.4rem;
  border-radius: 6.25rem;
  background-color: #ffd400;
  color: black;
}
.loginRight .rLoginContainer .login--heading form .login--btns .or {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.loginRight .rLoginContainer .login--heading form .login--btns .or hr {
  border: 1px solid #ffd400 !important;
  width: 12rem;
  height: 0.1rem;
  margin: 0 1rem;
}
.loginRight .rLoginContainer .login--heading form .log--google {
  width: 100%;
}
.loginRight .rLoginContainer .login--heading form .log--google a {
  border: 1px solid #ffd400;
  background: white;
  font-family: 13px !important;
}
.loginRight .rLoginContainer .login--heading form .log--google a img {
  width: 1.2rem;
  margin: 0rem 0.8rem;
}
.loginRight .rLoginContainer .login--heading form .log--facebook {
  width: 100%;
}
.loginRight .rLoginContainer .login--heading form .log--facebook a {
  background: #3b5998;
  color: white;
  font-family: 13px;
}
.loginRight .rLoginContainer .login--heading form .log--facebook a img {
  width: 0.5rem;
  margin: 0rem 0.8rem;
}

.Artistes--heading {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}
.Artistes--heading h1 {
  color: black !important;
}

.--artiste-grid-container {
  width: 90%;
  min-height: 50rem;
  margin: 0 5%;
}
.--artiste-grid-container .--artistes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15.625rem 28.125rem 15.625rem;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
}
.--artiste-grid-container .--artistes-grid .item {
  cursor: pointer;
  border-radius: 2.5rem;
  object-fit: cover;
  background-image: url(/ASSETS/artistes/dummypic.jpg);
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  transition: height 500ms;
}
.--artiste-grid-container .--artistes-grid .item .--artistes-info {
  width: 100%;
  height: 30%;
  border-radius: 2.5rem;
  background: rgba(255, 212, 0, 0.58);
  backdrop-filter: blur(0.4375rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.--artiste-grid-container .--artistes-grid .item .--artistes-info h2 {
  color: white;
}
.--artiste-grid-container .--artistes-grid .item--img-2 {
  background-image: url(/ASSETS/artistes/chikichita.jpg);
}
.--artiste-grid-container .--artistes-grid .item--img-3 {
  background-image: url(/ASSETS/artistes/kstrings.jpg);
}
.--artiste-grid-container .--artistes-grid .item--img-4 {
  background: url("/ASSETS/artistes/Beauty.jpg");
}
.--artiste-grid-container .--artistes-grid .item--img-5 {
  background: url("/ASSETS/artistes/Magica.jpg");
}
.--artiste-grid-container .--artistes-grid .item--img-6 {
  background: url("/ASSETS/artistes/sarba.jpg");
}
.--artiste-grid-container .--artistes-grid .item--img-7 {
  background: url("/ASSETS/artistes/Soniah.jpg");
}
.--artiste-grid-container .--artistes-grid .item--img-8 {
  background: url("/ASSETS/artistes/Stephan.jpg");
}
.--artiste-grid-container .--artistes-grid .--advert {
  grid-column: 1/span 4;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.--artiste-grid-container .--artistes-grid .--advert .--advert-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 1000;
  font-size: 32px;
}
.--artiste-grid-container .--artistes-grid .--advert .--advert-content h3 {
  width: 100%;
  border-bottom: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
.--artiste-grid-container .--artistes-grid .--advert .--advert-content span {
  color: #ffd400;
}
.--artiste-grid-container .--artistes-grid .--advert .--advert-content a {
  border: 2px solid #ffd400;
  padding: 0.62rem 2.68rem;
  border-radius: 6.25rem;
  margin-top: 0.5rem;
}

.artisteContainer {
  width: 100%;
  height: 96.8125rem;
  background-image: url("/ASSETS/singleArtistes/backgroundflare.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.singleArtiste-navigation {
  height: 6.8125rem;
  display: flex;
  align-items: flex-end;
  padding: 0rem 10%;
  padding-bottom: 0.625rem;
}
.singleArtiste-navigation .navlink-container {
  width: 10%;
  height: 2.6875rem;
  border-radius: 6.25rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.singleArtiste-navigation .navlink-container .arts-link {
  font-weight: 700;
}
.singleArtiste-navigation .navlink-container span {
  font-weight: 700;
  font-size: 1.875rem;
  color: #ffd400;
  padding: 0 0.1875rem;
}

.singleArtiste--banner {
  width: 100%;
  display: flex;
  padding: 0 10%;
  margin-bottom: 7.5rem;
}
.singleArtiste--banner .single-banner {
  width: 100%;
  min-height: 44.0625rem;
  border-radius: 1.5625rem;
  background-image: url("/ASSETS/singleArtistes/dumbannerpic--1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.singleArtiste--banner .single-banner .artiste-music-details {
  width: 100%;
  min-height: 11.5625rem;
  border-radius: 1.5625rem;
  background: rgba(255, 212, 0, 0.58);
  backdrop-filter: blur(0.4375rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleArtiste--banner .single-banner .artiste-music-details .music-links {
  min-height: 3.625rem;
  width: 27.5rem;
  background: rgba(255, 255, 255, 0.82);
  backdrop-filter: blur(12.8125rem);
  border-radius: 6.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 6rem;
}
.singleArtiste--banner .single-banner .artiste-music-details .music-links a {
  transition: all 0.3s ease 0s;
}
.singleArtiste--banner .single-banner .artiste-music-details .music-links a:hover {
  transform: translateY(-0.18rem);
  transition: all 0.3s ease 0s;
}

/*# sourceMappingURL=main.css.map */
