//Colors
//fonts
$primaryFont: "Open Sans", sans-serif;
$primaryColor: #ffd400;
$primaryTextColor: #4f4f4f;
$headingColor: #020201;
$inputColor: #f5f4f4;
//subcolors
$pamperYourEars: #959595;
$logInHeight: 2.6875rem;
$borderRadius: 6.25rem;
