// 
section:nth-child(2) {
    width: 100%;
    height: 70vh;
    background: url('/ASSETS/banner/homepageBanner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        margin: 0 0 0 34rem;
        width: 100vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p:nth-child(1){
            font-size: 28px;
            padding-bottom: 10px;
            color: $pamperYourEars;
        }

        h2 {
            color: white;
            font-size: 52px;
            font-family: $alfaSlabOne;
            letter-spacing: 3%;
            padding-bottom: 5px;

            span {
                font-family: $alfaSlabOne;
                color: $primaryColor;
            }
        }

        p:nth-child(3) {
            color: white;
            text-align: center;
            padding: 0 0 10px 0 ;
        }

        a {
            color: white;
            text-align: center;
            border: 3px solid $primaryColor;
            margin-top: 10px;
            padding: 15px 43px;
            border-radius: 100px;
            transition: 5ms ease;
            font-weight: 600;
        }
        a:hover{
            color: black;
            background-color: $primaryColor;
            transition: 5ms ease-in;
        }
    }
}