section:nth-child(1){
    max-width: 100%;
    height: 129px;
    box-shadow: (0px 4px 60px rgba(0, 0, 0, 0.15));
    .container{
        width: 90%;
        height: 129px;
        margin:0 5%;
        display: flex;
        flex-direction: row;
        .logo{
            width: 10%;
             display: flex;
             justify-content: center;
             align-items: center;
        }
        ul:nth-child(2){
            width: 21%;
            display: flex;
            justify-content: center;
            align-items: center;
            li a{
                padding: 4px 10px;
                margin: 4px;
                font-weight: 700;
            }
        }
        .searchBox{
            width: 50%;
            display: flex;
            align-items: center;
            input{
                width: 90%;
                height: 43px;
            }
            .searchBtn{
                a{
                    width: 19%;
                    padding: .8rem 1.3rem 0.5rem 2rem;
                    background-color: $primaryColor;
                    border-radius: 0px 100px 100px 200px;
                    margin-left: -4.5rem;
                }
            }    
        }
        ul:nth-child(4){
            width: 19%;
            display: flex;
            justify-content: center;
            align-items: center;
            li .login{
                font-weight: 700;
                margin-top: 3rem;
                padding: 8px 43px;
                border-radius: 100px;
                border: 3px solid $primaryColor;
            }
            .login:hover{
                background-color: $primaryColor;
            }
            .shoppingCart img{
                border-radius: 200px;
                align-self: center;
                padding: 0.4rem;
                margin-left: 13px;
                background-color: $primaryColor;
            }
        }
    }
}