.ourProducers {
  min-height: 20vh;
  margin-bottom: 5rem;
  h1 {
    margin-left: 25%;
  }
  .producers {
    min-height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .one {
      width: 25%;
      height: 35rem;
      border-radius: 50px;
      margin-right: 2rem;
      background-image: url("/ASSETS/ourProducers/producerone.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      .details {
        height: 10vh;
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(100px);
        border-radius: 0px 100px 50px 50px;
      }
    }
    .two {
      width: 25%;
      height: 35rem;
      border-radius: 50px;
      background-image: url("/ASSETS/ourProducers/producertwo.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      .details {
        height: 10vh;
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(100px);
        border-radius: 0px 100px 50px 50px;
      }
    }
  }
}
