section:nth-child(4){
    width: 100%;
    height: 700px;
    margin-top: 120px;
    display: grid;
    place-content: center;
    .content{
        margin-bottom: 5%;
        margin-left: 30%;
    }
}
.servicesGrid{
    height: 450px;
    width: 883px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    div{
        display: grid;
        grid-template-columns: 20% 70% 10%;     
        grid-template-rows: 28% 72%;
        img{
            width: 4rem;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        h3{
            width: 80%;
            font-size: 18px;
            font-weight: 700;
            margin: 0 10%;
            height: 4rem;
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-items: center;
            border-bottom: none;
        }
        .forHr{
            grid-row: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;
            hr{
                width: 0.1rem;
                height: 40%;
                margin-bottom: 2rem;
                color: #c4c4c4;
                border: 1px solid rgb(211, 211, 211);
            }
            
        }
        p{
            grid-column: 1/3;
            padding: 10px 10px;
        }
    }
    .item-2{
        img{
            width: 125%;
            height: 4rem;
        }
    }
    .item-3,.item-5{
        img{
            width: 80%;
            height: 4rem;
        }
    }
    .item-3{
        img{
            width: 80%;
            height: 4rem;
        }
    }
    .item-6{
        img{width: 100%;
        height: 4rem;
    }
    }
}