.loginContainer {
  height: 86.6vh;
  display: flex;
  .loginLeft {
    width: 35%;
    background-image: url("/ASSETS/loginpage/leftImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .loginRight {
    width: 65%;
  }
}
.loginRight .rLoginContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5% 20%;

  .login--heading {
    .head {
      height: 5rem;
      display: flex;
      align-items: center;
      h1 {
        border-bottom: 2px solid $primaryColor;
        width: 15%;
        display: flex;
        justify-content: center;
      }
      .hd--left {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        p a {
          font-weight: 700;
        }
      }
    }
    form {
      min-height: 30rem;
      div {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-bottom: .6rem;
        label {
          margin-bottom: 0.4rem;
          padding: 0rem 1.5rem;
          font-weight: 600 !important;
          font-size: $labelFontSize;
        }
        .input--icon{
          width: 100%;
          display: flex;
          flex-direction: row !important;
          align-items: center;
          min-height: $logInHeight !important;
          background: $inputColor !important;
          border-radius: $borderRadius !important;
        }
        input {
          height: $logInHeight;
          padding-right: 1rem !important;
          width: 93% !important;
        }
      }
      .login--btns {
        a {
          display: flex;
          justify-content: center;
          height: $logInHeight;
          align-items: center;
          margin-bottom: .4rem;
          border-radius: $borderRadius;
          background-color: $primaryColor;
          color: rgb(0, 0, 0);
        }
        .or {
          display: flex;
          flex-direction: row !important;
          align-items: center;
          justify-content: center;
          width: 100%;
          hr {
            border: 1px solid $primaryColor !important;
            width: 12rem;
            height: 0.1rem;
            margin: 0 1rem;
          }
        }
      }
      .log--google{
        width: 100%;
        a{
          border: 1px solid $primaryColor;
          background: white;
        }
        a img{
          width: 1.2rem;
          margin: 0rem .8rem;
        }
      }
    }
  }
}
