@use '../abstracts/mixins.scss' as *;
.releaseSlider {
  min-height: 20vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .sliderContainer {
    min-height: 5vh;
    height: 285.79px;
    width: 90%;
    border-radius: 142.893px 0px 0px 142.893px;
    background: linear-gradient(
      83.93deg,
      rgba(255, 212, 0, 0.3) 1.75%,
      rgba(255, 212, 0, 0.0433364) 106.46%,
      rgba(255, 212, 0, 0) 106.47%
    );
    backdrop-filter: blur(100px);
    display: flex;
    align-items: center;
  }
}
.sliderContainer .slider {
  height: 20vh;
  display: flex;
  overflow: hidden;
}
.sliderContainer .slider .--item {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(110px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100px;
  border-radius: 100px;
  min-width: 443px;
  display: flex;
  margin: 0 2rem;
}
.sliderContainer .slider .--item .--item-container {
  width: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .musicCover {
    margin-right: 0.5rem;
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 25%;
    height: 6rem;
  }
  .--item-information {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 5rem;
    .--artistename,
    .--songTitle {
      width: 100%;
      display: flex;
      .--artisteImg {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
      }
      .artisteInfo {
        width: 80%;
      }
    }
    .--musicPromolinks {
      width: 90%;
      min-height: 2.5rem;
      border-radius: 100px;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(219px);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      a {
        transition: all 0.3s ease 0s;
      }
      a:hover {
        //   box-shadow: 0px 10px 10px rgba(110, 127, 137, 0.918);
        transform: translateY(-3px);
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.arrows {
  width: 89%;
  margin-left: 11%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 10rem;
}
i {
  font-size: 3rem !important;
  cursor: pointer;
}
i:hover {
  color: rgb(28, 26, 26);
}
