@use '../abstracts/variables.scss' as *;
@use '../base/typography.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primaryFont;
  color: #333;
  font-size: 16px;

  h1 {
    font-size: 28px;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 600;
  }

  h2 {
    letter-spacing: 3%;
    font-size: 18px;
    line-height: 39px;
    letter-spacing: -0.04em;
  }

  h3 {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 2px solid $primaryColor;
    padding: 4px 2px;
    margin: 0 0 15px 0;
    width: 20%;
  }

  p {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 1.65;
    color: $primaryFontColor;
    letter-spacing: 0.02em;
  }

  li {
    list-style-type: none;
  }

  a {
    font-size: $primaryFontSize;
    text-decoration: none;
    color: $headingColor;
  }

  input {
    border-radius: 100px;
    background-color: $inputColor;
    border: none;
    padding: 0 0 0 30px;
    outline: none;
  }
}
textarea {
  resize: none;
  border-radius: 50px;
  padding-left: 1.6rem;
  padding-top: 1rem;
  border: none;
  background-color: $inputColor;
}
svg {
  cursor: pointer;
}
circle {
  fill: black;
}
