@use "../abstracts/variables.scss" as *;
@use "../base/typography.scss" as *;
@use "../abstracts/mixins.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $primaryFont;
  color: #333;
  //defines what 1 rem is
  font-size: 95%;
  @include respond(phone) {
    font-size: 97% !important;
  } //600
  @include respond(tab-land) {
    font-size: 97%;
  } //900
  @include respond(tab-port) {
    font-size: 96%;
  } //1200
  @include respond(big-desktop) {
    font-size: 100%;
  }
  body {
    box-sizing: border-box;
    background: rgb(255, 255, 255);
  }
  h1 {
    font-size: 1.75rem;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 600;
  }

  h2 {
    letter-spacing: 3%;
    font-size: 1.125rem;
    line-height: 2.4375rem;
    letter-spacing: -0.04em;
  }

  h3 {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    border-bottom: 0.125rem solid $primaryColor;
    padding: 0.25rem 0.125rem;
    margin: 0 0 0.9375rem 0;
    width: 20%;
  }

  p {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: light;
    font-size: 0.93rem;
    line-height: 1.65;
    color: $primaryFontColor;
    letter-spacing: 0.02em;
  }

  li {
    list-style-type: none;
  }

  a {
    font-size: $primaryFontSize;
    text-decoration: none;
    color: $headingColor;
    transition: all 0.5s ease-in;
  }

  input {
    border-radius: 6.25rem;
    background-color: $inputColor;
    border: none;
    padding: 0 0 0 1.875rem;
    outline: none;
  }
}
textarea {
  resize: none;
  border-radius: 3.125rem;
  padding-left: 1.6rem;
  padding-top: 1rem;
  border: none;
  background-color: $inputColor;
}
svg {
  cursor: pointer;
}
circle {
  fill: black;
}
