//
@use '../abstracts/variables.scss' as *;
@use '../base/typography.scss' as *;
.banner {
  width: 100%;
  height: 70vh;
  background: url("/ASSETS/banner/homepageBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    margin: 0 0 0 34rem;
    width: 100vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p:nth-child(1) {
      font-size: 28px;
      padding-bottom: 10px;
      color: $pamperYourEars;
    }

    h2 {
      color: white;
      font-size: 52px;
      font-family: $alfaSlabOne;
      letter-spacing: 3%;
      padding-bottom: 5px;

      span {
        font-family: $alfaSlabOne;
        color: $primaryColor;
        font-size: 52px;
      }
    }

    p:nth-child(3) {
      color: white;
      text-align: center;
      padding: 0 0 10px 0;
    }

    a {
      color: white;
      text-align: center;
      border: 3px solid $primaryColor;
      margin-top: 10px;
      padding: 15px 43px;
      border-radius: 100px;
      transition: all 100ms linear;
      font-weight: 500;
    }
    a:hover {
      color: black;
      background-color: $primaryColor;
      transition: 5ms ease-in;
    }
  }
}
.aboutUs {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  .container {
    width: 80%;
    margin: 0 10%;
    height: 500px;
    display: flex;
    .content {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .aboutUs--text {
        padding: 0.5rem 0rem;
        p {
          text-align: justify;
        }
      }
    }
    .images {
      width: 40%;
      display: flex;
      img:nth-child(1) {
        width: 259px;
        position: relative;
        left: 60px;
        z-index: 1;
        border-radius: 50px;
      }
    }
    img:nth-child(2) {
      width: 200px;
      border-radius: 50px;
      margin: 6rem 0 6rem 0;
    }
  }
}
.ourServices {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  .container {
    width: 80%;
    margin: 0 10%;
    height: 500px;
    display: flex;
    .content {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        text-align: justify;
      }
    }
    .images {
      width: 50%;
      display: flex;
      img:nth-child(1) {
        width: 259px;
        position: relative;
        left: 60px;
        z-index: 1;
        border-radius: 50px;
      }
    }
    img:nth-child(2) {
      width: 200px;
      border-radius: 50px;
      margin: 6rem 0 6rem 0;
    }
  }
}
section:nth-child(4) {
  width: 100%;
  height: 700px;
  margin-top: 120px;
  display: grid;
  place-content: center;
  .content {
    width: 100%;
    margin-bottom: 5%;
    margin-left: 2%;
  }
}
y .-services-grid {
  width: 55.1875rem;
  height: 28.125rem;
  display: grid;
  grid-template-columns: 17rem 17rem 17rem;
  grid-template-rows: 10rem 10rem;
  grid-gap: 2rem;
  .grid-item {
    display: flex;
    .--item-content {
      width: 90%;
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 40% 60%;
      transition: all 0.3s ease 0s;
      .--content-image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 4.5rem;
        }
        .ci-img-1 {
          width: 3.5rem;
        }
        .ci-img-3 {
          width: 2.7rem;
        }
        .ci-img-4 {
          width: 3.2rem;
        }
        .ci-img-5 {
          width: 3.5rem;
        }
        .ci-img-6 {
          width: 3.5rem;
        }
      }
      .--content-heading {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        h3 {
          width: 80%;
          border-bottom: none;
          padding: 0;
          margin: 0.4rem 0 0 0;
        }
      }
      .--content-text {
        grid-column: 1 / span 3;
        min-height: 1rem;
        padding: 0 0 0 1.6rem;
      }
    }
    .--item-hr {
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      hr {
        width: 0.1rem;
        height: 40%;
        color: #c4c4c4;
        border: 1px solid rgb(211, 211, 211);
      }
    }
  }
}

.--item-content:hover {
  cursor: pointer;
  transform: translateY(-15px);
  transition: all 0.1s ease 0s;
}

.ourProducers {
  min-height: 20vh;
  margin-bottom: 5rem;
  h1 {
    margin-left: 25%;
  }
  .producers {
    min-height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .one {
      width: 25%;
      height: 35rem;
      border-radius: 50px;
      margin-right: 2rem;
      background-image: url("/ASSETS/ourProducers/producerone.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      .details {
        height: 10vh;
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(100px);
        border-radius: 0px 100px 50px 50px;
      }
    }
    .two {
      width: 25%;
      height: 35rem;
      border-radius: 50px;
      background-image: url("/ASSETS/ourProducers/producertwo.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      .details {
        height: 10vh;
        width: 100%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(100px);
        border-radius: 0px 100px 50px 50px;
      }
    }
  }
}
